<header class="w-100">
	<nav class="navbar w-100">
		<div class="container">
			<a class="navbar-brand ms-4 mt-3" href="#">
				<img src="/assets/logo-qr-generator.svg" alt="Logo" width="120" />
			</a>
		</div>
	</nav>
</header>

<main class="d-flex justify-content-center align-items-center flex-column">
	<div class="qrcodeImage" *ngIf="texto.length > 0 && texto.trim() !== ''">
		<div class="qrcode">
			<qrcode
				[qrdata]="texto"
				[allowEmptyString]="true"
				[ariaLabel]="'QR Code image with the following content...'"
				[className]="'demoBorderRadius'"
				[colorDark]="'#000000ff'"
				[colorLight]="'#ffffffff'"
				[elementType]="'svg'"
				[errorCorrectionLevel]="qualidade"
				[margin]="4"
				[scale]="100"
				[title]="'QR Code Image'"
				[width]="tam"
				(qrCodeURL)="onChangeURL($event)"
			></qrcode>
		</div>
	</div>
	<div class="d-flex justify-content-center align-items-center gap-4 mt-5">
		<a [href]="qrCodeDownloadLink" download="{{texto.trim()}}" class="btn btn-primary d-flex gap-2"><span>Download</span><i class="bi bi-arrow-down"></i></a>
		<button class="btn btn-primary d-flex gap-2"><span>Share</span><i class="bi bi-link-45deg"></i></button>
	</div>
</main>
