/* You can add global styles to this file, and also import other style files */
@import './node_modules/bootstrap/scss/bootstrap';
@import "bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
	font-family: 'Outfit', sans-serif;
	font-weight: 500;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

html,
body {
	height: 100%;
	width: 100%;
	background-color: #111729;
	background-attachment: fixed;
	background-image: url('assets/bg-illustration.svg');
	background-position: right 3rem center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: 36rem; /* Resize the background image to cover the entire container */
}

@media (max-width: 700px) {
	html,
	body {
		background-position: right -14rem center;
	}
}
